.image-upload-container{
    display:flex;
    align-items:center;
    align-content: center;
    width : 50%;
    height: 25vh;
    margin-left:25%;
    margin-top:10%;
    margin-right:25%;
  }
